config/SalesforceApisStateMachine.yml
stateMachine:
  name: omni-dw-salesForce-apis-state-machine
  definition:
    Comment: "State machine for salesforce Apis integration"
    StartAt: PublishEvents
    States:
      PublishEvents:
        Type: Task
        Resource: 
          Fn::GetAtt: ["SalesForceApi","Arn"]
        Next: EndChoice
      EndChoice:
        Type: Choice
        Choices:
          - Variable: $.hasMoreData
            StringEquals: "false"
            Next: SuccessState
          - Variable: $.hasMoreData
            StringEquals: "true"
            Next: PublishEvents
      SuccessState:
        Type: Succeed